<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035119810807-jbrf9182vf6fat42phb457jltfslajf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035119810807-jbrf9182vf6fat42phb457jltfslajf4</string>
	<key>API_KEY</key>
	<string>AIzaSyBVkAs2A1BqAAIzRwzs1yZn2AvL0oso7lI</string>
	<key>GCM_SENDER_ID</key>
	<string>1035119810807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.annguyen98.appconfig</string>
	<key>PROJECT_ID</key>
	<string>pro-app-ef3a9</string>
	<key>STORAGE_BUCKET</key>
	<string>pro-app-ef3a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035119810807:ios:42f2008df39bee410d5bf2</string>
</dict>
</plist>